# Application 

APP_NAME=Backend Core
APP_VERSION=1.0.0
ENVIROMENT=development
DEBUG=True

# JWT 

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Google OAuth

GOOGLE_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Frontend

FRONTEND_URL=